Django>=5.1.0,<6.0.0
asgiref
crispy-bootstrap5
django-ckeditor
django-crispy-forms
django-jazzmin
django-js-asset
gunicorn
pillow
sqlparse
tzdata
whitenoise
djangorestframework
requests
python-dotenv
qrcode
google-genai
psycopg2-binary
